@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
    border: 1px solid rgba(255, 255, 255, 0.01);
}

.clip-triangle {
    clip-path: polygon(50% 50%, 0 0, 100% 0);
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: #f7f7f7;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --blue: 208 72% 47%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.chat-view-scrollbar {
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f5f9;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #207ccd;
    }
}

.mobile-diagnosis-form-scrollbar {
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e5e7eb;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #207ccd;
    }
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.tab-menu-glow {
    box-shadow: 0 0 5px #8fc3ff;
}

.blue-gradient {
    background: rgb(60, 162, 251);
    background: linear-gradient(200deg, rgba(60, 162, 251, 1) 27%, rgba(3, 84, 155, 1) 95%);
}

button.blue-gradient:hover {
    background: rgba(60, 162, 251, 0.7);
    background: linear-gradient(200deg, rgba(60, 162, 251, 0.7) 27%, rgba(3, 84, 155, 0.7) 95%);
}

.gradient2 {
    @apply bg-[#3ca2fb];
    background: linear-gradient(244deg, #3ca2fb 33.7%, #03549b 129.64%);
}

/*.logo-bg {
    overflow: hidden;
    background-size: 100% 100%;
    width: auto;
    height: auto;
    background: url("/images/logo-plain.png") no-repeat;
}*/

::-webkit-scrollbar-thumb {
    background-color: rgb(60, 162, 251);
}

::selection {
    @apply !text-white opacity-100;
    background-color: rgb(60, 162, 251);
}

::-webkit-scrollbar-thumb {
    @apply rounded-[20px];
    background-color: rgb(60, 162, 251);
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-[#FAFAFA] !w-[1px] md:w-[10px];
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-[#FAFAFA]/10;
    }
}

.record-btn {
    background: radial-gradient(200.15% 78.29% at 50% 50%, #ff7a7a 0%, #ae0000 100%);
    box-shadow: 0px 16.358px 32.717px -6.543px rgba(15, 23, 42, 0.25);
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.new-line {
    white-space: pre-line;
}